*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  background-color: #333; 
  color: #fff;
  padding: 20px;
}

header p{
  font-size: 24px;
  font-weight: bold; 
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav a{
  color: #fff; /* Text color for navigation links */
  text-decoration: none; /* Remove underline from links */
  margin: 0 15px;
}

nav a:hover{
  color: #ff9900;
}

.active{
  color: #ff0000; 
  text-decoration: underline;
}


.login-container {
  max-width: 400px;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #2980b9;
}

.logged-in-message {
  background-color: #4caf50;
  color: #fff;
  padding: 5% 0;
  width: 30%;
  margin: 10% auto;
  border-radius: 5px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px; 
  max-width: 300px;
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 12px;
  max-height: 160px;
}

.category {
  font-weight: bold;
}

.miscInProduct {
  margin-top: 8px;
}

.products{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}


.addToCartButton {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.addToCartButton:hover {
  background-color: #45a049;
}


.order-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.total-price {
  font-size: 24px;
}

.product-list-heading {
  font-size: 20px;
  /* margin-top: 15px; */
  margin: auto;
  width: 30%;
}

   
.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  margin: auto;
  width: 30%;
}

    
.placeholder {
  margin: 0;
  padding: 5px;
  font-size: 16px;
}

.confirm-checkout-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-checkout-btn:hover {
  background-color: #45a049;
}

.short{
  width: 20%;
  display: block;
}